$cor-geral-menu: #49213e;

$menu-brand-bg-hover: #353333;
$menu-brand-cor-hover: #FFF;

$menu-home-bg-hover: #353333;
$menu-home-cor-hover: #FFF;

$menu-about-bg-hover: #353333; 
$menu-about-cor-hover: #FFF;

$menu-contact-bg-hover: #353333;
$menu-contact-cor-hover: #FFF;